.app-layout {
  display: grid;
  grid-template-rows: auto 50px;

  height: 100vh;

  > .navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #ccc;

    background-color: rgba(250, 250, 250, 90);
  }

  > .navigation > .link {
    flex: 0 0 60px;
    display: block;

    padding: 4px 0;
    height: 100%;

    color: #929292;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }

  > .navigation > .link.active {
    color: var(--primary-color);
  }

  > .navigation > .link > i {
    display: block;

    font-size: 24px;
    line-height: 24px;
  }

  > .main {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

@media (min-width: 768px) {
  .app-layout {
    grid-template-rows: auto;
    grid-template-columns: 233px auto;
    grid-template-areas: 'navigation main';

    > .navigation {
      grid-area: navigation;

      flex-flow: column nowrap;
      justify-content: flex-start;

      border-width: 0;

      background-color: var(--primary-color);

      box-shadow: 2px 0 4px rgba(194, 107, 32, 0.3);
    }

    > .navigation > .link {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      flex: 0 0 auto;
      padding: 10px 12px;
      height: auto;

      color: rgba(255, 255, 255, 0.9);
      font-size: 1rem;
      text-align: left;
    }

    > .navigation > .link:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }

    > .navigation > .link.active {
      background-color: rgba(0, 0, 0, 0.05);
      color: white;
    }

    > .navigation > .link > i {
      display: inline-block;
      margin-top: 0;
      margin-right: 10px;

      width: 25px;

      text-align: center;
    }

    > .main {
      grid-area: main;
    }
  }
}